/*GLOBAL*/
body{
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
}

/*---------------------------------------------------NAVBAR---------------------------------------------------*/
.navbar{
	background-color: #1167b1;
	display: flex;
	align-items: center;
	padding: 20px;
	position: fixed;
	top: -1px;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul{
	font-size: 25px;
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

nav ul li a{
	color: orange;
}
nav ul li a:hover{
	color: white;
}

.logo a img{
	width:90px;
	display: inline-block;
	margin-left: 15px;
}

/*---------------------------------------------------NAVBAR-dropdown---------------------------------------------------*/
.dropdown {
  float: left;
  padding-right: 85px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
}

.dropbtn:hover {
  color: orange;
}

.drop-con {
  display: none;
  position: absolute;
  background-color: #1357a6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,255,0.2);
}

.drop-con a {
  color: white;
  padding: 2px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop-con a:hover {
  color: orange;
}

.dropdown:hover .drop-con {
  color: orange;
  display: block;
}

.cartbox{
	margin: 0 40px;
}

#cart-icon{
	width:65px;
	height: 55px;
	display: inline-block;
	margin-top: 20px;
}

#cart-total{
	display: inline-block;
	margin-top: 20px;
	margin-top: 20px;
	position: absolute;
	text-align: center;
	color: white;
	font-weight: bold;
	background-color: orange;;
	width: 22px;
	height: 20px;
	border-radius: 45%;
	font-size: 14px;
}
/*---------------------------------------------------END-NAVBAR---------------------------------------------------*/

/*---------------------------------------------------SHOP---------------------------------------------------*/
.box{
	align-items: center;
	margin: auto;
	width: 90%;
}
.smallcon{
	max-width: 1400px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.productPic{
	width: 100%;
	height: 350px;
}
.add-btn{
	width: 100%;
	background: none;
	color: #4682b4;
	padding: 10px;
	border-style: none;
	border-radius: 4px;
	transition: background 0.2s;
	transition: color 0.1s;
	font-size: 24px;
}

.add-btn:hover{
	background: #4682b4;
	color: #ff9912;
}

.box3{
	flex-basis: 18%;
	padding: 1px;
	min-width: 200px;
	margin-bottom: 50px;
	border: solid #ff9912 1px;
}
.box3 img{
	width: 100%;
	height: 290px;
}

.box3 a h4{
	font-size: 20px;
	font-family: sans-serif;
	margin: -2px 3px;
	color: black;
	font-weight: 100;
}
.box3 p{
	font-size: 18px;
	margin: 0 0 10px 3px;
	padding: 0;
}
.box3:hover{
	box-shadow: 0px 1px 8px #1167b1;
}
.sort_category{
	background-color: red;
	border: 1px solid black;
	float: left;
	max-width: 30%;
	margin: 30px 0 0 0;
	padding: 10px
}
.sort_category ul li{
	display: block;
}
.sort_category ul{
	font-size: 20px;
	display: inline-block;
	list-style-type: none;
}

#Cline{
	width: 200px;
	border: none;
	background: blue;
	height: 3px;
	margin-bottom: 20px;
	margin: 10px
	transform: translateX(100px);
	transition: transform 1s;
}

.category{
	max-height: 100px; 
	border: 1px black; 
	margin: 20px 20px 0 20px;
}

.category a{
	font-size: 30px;
	text-decoration: none;
	color: orange;
}
/*---------------------------------------------------END-SHOP---------------------------------------------------*/





/*---------------------------------------------------PRODUCT DETAILS---------------------------------------------------*/
.pdetails {
	margin: 30px auto;
	max-width: 1020px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.pbox{
	flex-basis: 18%;
	padding: 10px;
	min-width: 50%;
}
.pbox h2{
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.pbox p{
	max-width: 70%;
	justify-content: right;
}
.pbox h6{
	font-weight: 400;
	font-size: 20px;
	margin: 0;
	margin-bottom: 20px;
	padding: -3px;
}
.pbox input {
	padding: 10px;
	max-width: 100px;
	padding: 10px;
	border-radius: 4px;
	font-size: 24px;
	font-weight: 400;
	border: 1px #1167b1 solid;
} 
.pbox input:hover{
	border: 1px orange solid;
}
.pbox .add-btn {
	flex-basis: 18%;
	padding: 10px;
	max-width: 45%;
	border: solid 1px orange;
	transition: background .7s;
} 
.productPic{
	width: 100%;
	height: 350px;
}
/*---------------------------------------------------END - PRODUCT DETAILS---------------------------------------------------*/



/*---------------------------------------------------CART---------------------------------------------------*/
.cartdetailcon{
	margin-top: 10px;
	min-height: 600px;
	width: 100%;
	font-size: 20px;
}
.cartdetailbox{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 20px;
	width: 1300px;
	margin: auto;
}	
.btn{
	display: inline-block;
	background: #ff523b;
	color: white;
	padding: 8px 30px;
	margin: 25px 0 0 0;
	border-radius: 30px;
	transition: background .5s;
}
.btn:hover{
	background: lightblue;
	color: orange;
}
.table{
	width: 90%;
}
.cart-row{
	display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.cart-row .row-con{
	padding-top: 35px;
}

.tth{
	background-color: orange;
	padding: 10px 0;
}
.row-image{
	width: 100px;
	height: 100px;
}
.quan{
	max-width: 100px;
	font-weight: 700;
	padding: 0;
}

.chg-quan{
	width: 25px;
	cursor: pointer;
	margin-top: 5px;
	transition:.1s;
}
.chg-quan:hover{
	opacity: .6;
}
/*---------------------------------------------------END-CART---------------------------------------------------*/





/*---------------------------------------------------CHECKOUT---------------------------------------------------*/
.checkoutDetails{
	/*display: block;*/
	flex-wrap: wrap;
	width: 100%;
	/*background-color: red;*/
	padding: 10px;
	min-height: 600px;


}

.shippingdetails{
	display: inline-block;
	/*background-color: pink;*/
	margin-top: 0;
	/*margin: 20px 5px;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 58%;
	padding: 20px 10px 10px 10px;
}

.cartsummarybox{
	display: inline-block;
	/*background-color: green;*/
	width: 38%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: 20px;
	margin-top: 0;
	position: fixed;

	padding: 20px 10px 10px 10px;

}

/*---------------------------------------------------END-CHECKOUT---------------------------------------------------*/




/*---------------------------------------------------FOOTER---------------------------------------------------*/
.footer{
	background-color: #1167b1;
	color: white;
	padding: 10px;

}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}
.box4{
	flex-basis: 20%;
	color: #8fd3fe;
	font-size: 15px;
}
.box4 h1{
	margin: 20px;	
	padding: 20px;	
}

.box4 h3, h4, a{
	padding: 0;
	margin: 0;
}

.box4 h4{
	font-size: 14px;
	font-weight: normal;
}

.box4 a{
	text-decoration: none;
	color: white;
}

.box4:hover h3{
	color: orange;
}

.box4 img{
	width: 100%;
}

.box4 hr{
	color: #8fd3fe;
}
/*---------------------------------------------------END-FOOTER---------------------------------------------------*/
























/*-------------------ENTITY CODE-------------------*/
/*https://entitycode.com/#common-content*/


/*-------------------for footer, social media icons-------------------*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons*/

























/*---------------------------------------------------LOGIN---------------------------------------------------*/
.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #74cfbf;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;
	
}

.login_btn {
	width: 100%;
	background: #33ccff !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #f7ba5b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

#messages{
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}
/*---------------------------------------------------END-LOGIN---------------------------------------------------*/


/*---------------------------------------------------SIGN-UP---------------------------------------------------*/
/*.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #74cfbf;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #fff;
}
.login_btn {
	width: 100%;
	background: #33ccff !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #f7ba5b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

/*---------------------------------------------------END-SIGN-UP---------------------------------------------------*/


















.account-page{
	padding: 50px 0;
	background: radial-gradient(white, lightblue);
}

.form-container{
	background: white;
	width: 350px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	/*overflow: hidden;*/
}

.form-container span{
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: inline-block;
}

.form-container form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	/*top: 130px;*/
	transition: transform 1s;
	margin: 2px;
	display: inline-block;
}

.form-container form input{
	max-width: 90%;
}

.form-btn{
	display: inline-block;
}

form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}

form .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
	background-color: blue;
}

form .btn:focus{
	outline: none;
}

#LoginForm{
	left: 0;
	top: 130px;

}

#SignupForm{
	left: -350px;
	top: 95px;
	
}

form a{
	font-size: 12px;
}

#Indicator{
	width: 100px;
	border: none;
	background: blue;
	height: 3px;
	margin-top: 8px;
	transform: translateX(60px);
	transition: transform 1s;
}


.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	width: 50%;
	height: 50%;
	margin-top: 0;
	max-width: 100%;
	padding: 50px 0;
}
*/