{% extends 'main.html' %}
{% load static %}

{% block title %} 
	Account
{% endblock %}

{% block content %}


<div style="margin-top: 20px; background: white;" class="cartsummarybox">
	<h2 style="color: #1167b1; font-weight: 600;">Hi, {{user.username}}</h2>
	<div class="cart-row">
		<div>
			<p>send us design, let customer buy your design for our customizable mugs</p>
			<a href="{% url 'entry' %}" class="btn">Send Entry &#8594;</a>
		</div>
	</div>
</div>


<div class="box">
	<div class="checkoutDetails">
		<div class="entrydetails">
			<h2 style="color: #1167b1; font-weight: 600;">YOUR ENTRIES..</h2>
			<div class="smallcon">
				<div class="row">
					{% for img in img %} 
					<div class="box3">
						<img style="height: 200px; width: 195px;" class="productPic" src="{{img.artURL}}">
						<h3 style="font-weight: 500;">Design no.<span style="color: #1167b1; font-weight: 600;">{{img.id}}</span></h3>
						<h4><strong style="font-size: 25px; font-weight: 300;">{{img.artname}}</strong></h4>
						<p>{{img.artprice}}php </p>
						<!-- By {{img.artby.username}} ||  -->
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

