{% extends 'main.html' %}
{% load static %}

{% block title %} 
	DESIGN
{% endblock %}



{% block content %}
<a class="btn" href="{% url 'shop' %}">Back to shop</a>

{% if product.category == 'd' %}
<div style="padding: 30px;" class="pdetails">
	<div class="pbox">
		<img style="border: solid 2px black;" class="productPic" src="{{product.imgurl}}">
	</div>
	<div class="pbox" >
		<h2>{{product.name}}</h2>
		<h4>{{product.category}}</h4>
		<h6>PRICE: Php {{product.price}} </h6>
		<form method="POST" action="{% url 'productdetails' product.id %}">
			{% csrf_token %}
			<input required type="number" name="quan" value="1" max="100" min="1">
			<input type="submit" name="add_to_cart" class="add-btn" value="Add to Cart">
		</form>
	</div>
</div>


<div style="padding: 30px;" class="pdetails">
	<div class="pbox">
		<img style="border: solid 2px black;" class="productPic" src="{{product.imgurl}}">
	</div>
	<div class="pbox" >
		<h2>{{product.name}}</h2>
		<h4>{{product.category}}</h4>
		<h6>PRICE: Php {{product.price}} </h6>
		<form method="POST" action="{% url 'productdetails' product.id %}">
			{% csrf_token %}
			<input required type="number" name="quan" value="1" max="100" min="1">
			<input type="submit" name="add_to_cart" class="add-btn" value="Add to Cart">
		</form>
	</div>
</div>







{% else %}
	<div style="padding: 30px;" class="pdetails">
		<div class="pbox">
			<img style="border: solid 2px black;" class="productPic" src="{{product.imgurl}}">
		</div>
		<div class="pbox" >
			<h2>{{product.name}}</h2>
			<h4>{{product.category}}</h4>
			<h6>PRICE: Php {{product.price}} </h6>
			<form method="POST" action="{% url 'productdetails' product.id %}">
				{% csrf_token %}
				<input required type="number" name="quan" value="1" max="100" min="1">
				
				<input type="file" id="cdesign" name="cdesign" accept="image/*">
				
				<div class="pbox">
					<input style="height:50px;" type="submit" name="add_to_cart" class="add-btn" value="Add to Cart">
				</div>
			</form>
		</div>
	</div>

	<div class="smallcon">
		<h2>Available Design</h2>

		<form method="POST" action="{% url 'productdetails' product.id %}">
			<div class="row">
				{% for img in img %}
				
					

				<div class="box3">
					<img class="productPic" src="{{img.artFile.url}}">
					<h4><strong>{{img.artName}}</strong></h4>
					<p>By {{img.customer.user}} </p>
					<p>Php {{img.artPrice}} </p>

					<!-- <button class="add-btn">Use Design</button> -->

					<button data-product="{{img.entries.id}}" data-action="add" class="add-btn entry-Btn">Use Design</button>		
				</div>
				
				{% endfor %}
			</div>
		</form>
	</div>
{% endif %}


{% endblock content %}
