{% extends 'main.html' %}
{% load static %}

{% block title %} 
	CHECKOUT 
{% endblock %}

{% block content %}


<!-- ORDER SUMMURY -->
<div class="box">
	<div class="checkoutDetails">
		<div class="shippingdetails">
			<h2>SHIPPING DETAILS</h2>
			<hr>
			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Items: <strong>4</strong></h5></th>
					<th><h5>Total: <strong>Php 400</strong></h5></th>
					<th>
						<a style="float:right; margin: 5px;" class="btn" href="{% url 'checkout' %}">Checkout</a>
					</th>
				</tr>
			</table>


			<hr>
			<br>
			<br>
			<table class="table">
				<tr>
					<th><h5>Items: <strong>4</strong></h5></th>
					<th><h5>Total: <strong>Php 400</strong></h5></th>
					<th>
						<a style="float:right; margin: 5px;" class="btn" href="{% url 'checkout' %}">Checkout</a>
					</th>
				</tr>
			</table>


			<table class="table">
				<tr>
					<th><h5>Items: <strong>4</strong></h5></th>
					<th><h5>Total: <strong>Php 400</strong></h5></th>
					<th>
						<a style="float:right; margin: 5px;" class="btn" href="{% url 'checkout' %}">Checkout</a>
					</th>
				</tr>
			</table>


		</div>

		<div class="cartsummarybox">
			<h2>ORDER SUMMARY</h2>
			{% for cl in cartlist %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{cl.product.imgurl}}"></div>
					<div style="flex:2"><img class="row-image" src="{% static 'img/sampledesign.jpg' %}"></div>
					<div style="flex:3">{{cl.product.name}}</div>
					<div style="flex:2">Php {{cl.product.price}}</div>
					<div style="flex:2">x{{cl.quan}}</div>
				</div>
			{% endfor %}
			<hr>
			<table class="table">
				<tr>
					<th><h5>Items: <strong style="color: orange;">{{order.cart_item}}</strong></h5></th>
					<th><h5>Total: <strong style="color: orange;">Php {{order.cart_total}}</strong></h5></th>
					<br>
					<th><a style="float:right; margin: 5px;" class="btn" href="{% url 'checkout' %}">Place Order</a></th>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}