{% extends 'main.html' %}
{% load static %}

{% block title %} 
	CHECKOUT 
{% endblock %}

{% block content %}


<!-- ORDER SUMMURY -->
<div class="box">
	<div class="checkoutDetails">
		<div class="shippingdetails">
			<h2 style="color: #1167b1; font-weight: 600;">SHIPPING DETAILS</h2>
			<hr>
			<form>
				<label style="color: orange; font-size: 20px">ADDRESS</label>
				<input type="text" name="Complete address" placeholder="Complete address">
				<!-- <input type="text" name="Zip Code" placeholder="Zip Code">
				<input type="text" name="Barangay" placeholder="Barangay">
				<input type="text" name="Municipality" placeholder="Municipality"> -->
				
				<input type="text" name="Phonenumber" placeholder="Mobile Number"><br>
				<label style="color: orange; font-size: 20px" >Mode Of Payment:</label><br>
				<select>
					<option>COD</option>
					<option>GCASH</option>
					<option>Credit Card</option>
					<option>Linked Bank Account</option>
				</select>
			</form>

		</div>

		<div class="cartsummarybox">
			<h2 style="color: #1167b1; font-weight: 600;">ORDER SUMMARY</h2>
			{% for cl in cartlist %}
				<div class="cart-row">
					<div style="flex:3">{{cl.product.name}}</div>
					<div style="flex:2">Php {{cl.product.price}}</div>
					<div style="flex:1">x{{cl.quan}}</div>
					<div style="flex:2"><span style="color: orange; font-weight: 600">{{cl.total}}</span></div>
				</div>
			{% endfor %}
			<hr>
			<table class="table">
				<tr>
					<th><h5>Items: <strong style="color: orange; font-size: 20px">{{order.cart_item}}</strong></h5></th>
					<th><h5>Total: <strong style="color: orange; font-size: 20px">Php {{order.cart_total}}</strong></h5></th>
					<br>
					<th><a style="float:right; margin: 5px;" class="btn" href="{% url 'checkout' %}">Place Order</a></th>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}