{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="acountcontainer">
	<dir class="container">
		<h1>{{request.user}},</h1>
		<div class="header-row">
			<div class="col-2">
				<p>send us design, let customer buy your design for our customizable mugs</p>
				
				<form method="POST" action="{% url 'entry' %}" enctype='multipart/form-data'>
					{% csrf_token %}
					{% for field in form %}
						{{field}}
					{% endfor %}
					<button type="submit" class="btn">Upload</button>
				</form>			

			</div> 
		</div>
	</dir>
</div>
{% endblock %}
