{% extends 'main.html' %}
{% load static %}

{% block title %} MUGSHOP {% endblock %}

{% block content %}
<div style="height: 600px;" class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<h1 class="col-2">We Take Mugs Seriously,<br>Let's Make it Personal</h1>
				<p class="col-2">We sell mugs, and we also customize!, by purchasing a design from other user, you also help them achieved their dreams :) <br> Do you need mugs? or Are you an artist?<br>
					<span style="color: darkorange; font-weight: 500;"> Sign up send us your entry now!</span></p>
			</div>
			
			<div style="margin-top: 50px" class="col-2">
				<div class="form-container">
					<div class="form-btn">
						<a href="{% url 'signup_url' %}"><span>SignUp</span></a>
						<a href="{% url 'login_url' %}"><span>Login</span></a>
						
					</div>
					
				<!-- LOGIN -->
						{% if page == 'login' %}
						<hr id="loginLine">
						<form method="POST" action="{{login_url}}" id="LoginForm">
						{% csrf_token %}
							<input type="text" name="username" placeholder="Username">
							<input type="password" name="password" placeholder="Password">
							<input type="submit" class="sign-btn" value="LOGIN"/>
							<a href="#">Forgot password</a>
						</form>
				<!-- SIGNUP -->
						{% else %}
						<hr id="signupLine">
						<form method="POST" action="{{ signup_url }}" id="SignupForm">
							{% csrf_token %}
							{% for field in form %}
								{{field}}
							{% endfor %}
							<button type="submit" class="sign-btn">REGISTER</button>
							<p><small>Note: password must be atleast 8 characters, with numbers and letter</small></p>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}